@*@model Reservas_de_Canchas.Models.Cancha

@{
    ViewData["Title"] = "Elinar Cancha";
}

<h1>Eliminar Cancha</h1>

<h3>Estas seguro de eliminar la cancha?</h3>
<div>
    <h4>Cancha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCancha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCancha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitada)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Habilitada)
            {
                <p>Habilitada</p>
            }
            else
            {
                <p>Deshabilitada</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NroCancha" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>*@
