@model Reservas_de_Canchas.Models.Cliente

@{
    ViewData["Title"] = "Mi Perfil";
}

<h1>Mi perfil</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puntos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puntos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Email">Editar Contraseña</a> 
    @*<a asp-action="Delete" asp-route-id="@Model.Email">Eliminar usuario</a>*@ 
    @*<a asp-action="Index">Back to List</a>*@
</div>
